@font-face {
    font-family: "Roboto Flex";
    src: url("fonts/RobotoFlex-Regular");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Roboto Flex', sans-serif;

}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("/img/fondo.jpg");
    background-repeat:no-repeat;
    background-size: cover;


}

:root{
    --primary-color: rgb(65, 99, 95);
    --primary-color2: rgb(23, 23, 43);
    --primary-color3: rgb(231, 236, 240);
    --primary-color4: rgb(42, 255, 5);
    --primary-color5: rgb(57, 158, 37);
    --primary-color6: rgb(149, 255, 123);
    --primary-color6: rgb(70, 255, 24);

    --button-hover: rgba(195, 228, 192, 0.836);


}

.cajero{
    background: var(--primary-color);
    width: 35%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pantalla{
    width: 60%;
    height: 55%;
    background: var(--primary-color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;

}

.display{
    background:var(--primary-color3);
    height: 35vh;
    width: 18vw;
    display: flex;
    align-items: flex-end;
    
}

.display_datos{
    display: none;
}

.show_display{
    display: flex;
    height:35vh;
    width: 10vw;
    justify-content: center;
    flex-direction: column;

}
.btn_izquierdo{
    height:80px;
    width: 4vw;
    display: none;

}
.info{
    height:35vh;
    width: 10vw;

}

.info_hidden{
    display:none;
}

.btn_derecho{
   display: none;

}
.show_boton1{
    height: 80px;
    width: 4vw;
}
.show_boton2{
    height: 80px;
    width: 4vw;
}
.btn_touch{
    padding: 2px;
    background: transparent;
    border: transparent;
    width: 100%;
    margin-top:5px;
    height: 40%;
}

.btn_touch:hover{
    background: var(--button-hover);
    font-size: 0.8rem;
    cursor: pointer;

}
.dinero{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.led{
    background: var(--primary-color4);
    height: 1vh;
    width: 12vw;
}
.billete{
    background:var(--primary-color);
    height: 3vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#billete{
    margin-top:6px ;
    width: 8vw;
    height: 4vh;
    display: none;
    animation: mover 1s linear alternate both;
    animation-iteration-count: 3;
    animation-fill-mode: backwards;

}
@keyframes mover {
    from {
      margin-top: 0%;
   
    }
  
    to {
      margin-top: 20%;
    }
  }

.datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}
#txt_titulo{
    text-align: center;
    text-transform: capitalize;

}
#saldo{
    text-align: center;
    text-transform: capitalize;

}
.agregar{
    display: none;
}
.show_agregar{
    display: flex;
}

.animated{
    animation: CambioColor 10s linear alternate both;
    animation-fill-mode: backwards;

}

@keyframes CambioColor {
 0%{
    background: var(--primary-color4);
 }
 40%{
    background: var(--primary-color5);
 }
 60%{
    background: var(--primary-color6);
 }
 100%{
    background: var(--primary-color7);
 }
}
/*Empieza el Teclado*/
.teclado {
    background: var(--primary-color2);
    width: 60%;
    height: 30%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

.teclas{
    background:var(--primary-color3);
    margin: 10px;
    width: 3vw;
    height: 4vh;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    
}

.btn{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.btn:hover{
    background: var(--button-hover);
    font-size: 0.8rem;
    cursor: pointer;
}

